div.comments
  h2
    a(href="#comments" id="comments") comments

  if page.markdown_comments
    ul
      each comment in page.markdown_comments

        - border = ''
        if comment.color
          - border = 'border-color: ' + comment.color

        li.comment
          span.commenter(style=border)
            if comment.url
              a(href=url_for(comment.url)) #{comment.name}
            else
              | #{comment.name}
            |
          span.date #{comment.date}
          .comment-content !{comment.comment}
  else
    p No comments at the moment \o/ Hey, you could write one!

  .comment-instructions
    h3 leave a comment
    p
      | I really like comments!! Easy mode:
      | email #[a(href='mailto:' + theme.markdown_comments.email) #{theme.markdown_comments.email}],
      | #[a(href='https://twitter.com/daiyitastic') @]
      | me or send a
      | #[a(href='https://twitter.com/direct_messages/create/' + theme.twitter) twitter dm].
      | Hard mode: Make a
      | #[a(href=theme.markdown_comments.repo_root + page.slug + '/' + theme.markdown_comments.file_name) PR].
    textarea
      | ;; email template!
      | name:
      | url: (or email or other optional public identifier)
      | color:
      | comment:
