div.comments
  h2
    a(href="#comments" id="comments") comments

  if page.markdown_comments
    ul
      each comment in page.markdown_comments

        - border = ''
        if comment.color
          - border = 'border-color: ' + comment.color

        li.comment
          span.commenter(style=border)
            if comment.url && !comment.url.startsWith('http')
              a(href=url_for('https://' + comment.url) rel="noopener noreferrer" target="_blank") #{comment.name}
            else if comment.url
              a(href=url_for(comment.url) rel="noopener noreferrer" target="_blank") #{comment.name}
            else
              | #{comment.name}
            |
          span.date #{comment.date}
          .comment-content !{comment.comment}
  else
    p No comments at the moment. Hey, you could write one \o/

  form(action=(theme.markdown_comments.endpoint) method="post").comment-instructions
    h3 Take me to comment town
    p Mica and I love to read your comments. It's easy to write one
    label(for="name") Name*
      input(type="text" name="name" placeholder="Mica" required)
    label(for="url") Website/social URL
      input(type="text" name="url" placeholder="https://www.strava.com/athletes/64615462")
    label(for="color") Accent color (hex code or html color  name)
      input(type="text" name="color" placeholder="#00ff7f or springgreen")
    input(type="hidden" name="path" value=('source/_posts/' + page.slug + '/' + theme.markdown_comments.file_name))
    label(for="comment") Comment*
      textarea(placeholder="" name="comment" required)
    button(type="submit" ) Submit
      
