div.comments
  h2
    a(href="#comments" id="comments") comments

  if page.markdown_comments
    ul
      each comment in page.markdown_comments

        - border = ''
        if comment.color
          - border = 'border-color: ' + comment.color

        li.comment
          span.commenter(style=border)
            if comment.url
              a(href=url_for(comment.url)) #{comment.name}
            else
              | #{comment.name}
            |
          span.date #{comment.date}
          .comment-content !{comment.comment}
  else
    p No comments at the moment \o/ Hey, you could write one!

  .comment-instructions
    h3 leave a comment
    p
      | I really like comments!! Make a
      | #[a(href=theme.markdown_comments.repo_root + page.slug + '/' + theme.markdown_comments.file_name) PR],
      | #[a(href='https://twitter.com/direct_messages/create/' + theme.twitter) twitter dm] me,
      | or send an email to #[a(href=theme.markdown_comments.email) #{theme.markdown_comments.email}].
      | I know I just told you to do a lot of work, but a 3rd party commenting platform + script injection is a pretty unappealing.
      | Alternatively you can send an email just to chat, too :D
    textarea
      | name:
      | url: (or email or other optional public identifier)
      | color:
      | comment:
