// partial uses `listToRender` passed in from above ugh globals

for category in listToRender
  - posts = category.posts.sort('date', 'desc').toArray()
  - categoryInfo = config.category_config[category.name] || {}
  if is_archive()
      h1
        a(href=url_for(category.path)) #{category.name}
  if categoryInfo.image
    - var asset = href=url_for(categoryInfo.image)
      img(src=asset)
  if categoryInfo.description
    p
      | #{categoryInfo.description}
  .items
    each post in posts
      .item
        .item-content
          span.meta
            span.date #{date(post.date, "YYYY MM DD")}
          span.title
            a(href=url_for(post.path))= post.title
