// partial uses `listToRender` passed in from above ugh globals

for list in listToRender
  - posts = list.posts.sort('date', 'desc').toArray()
  - categoryInfo = config.category_config[list.name] || {}
  if is_archive()
    h1
      a(href=url_for(list.path)) #{list.name}
  if categoryInfo.image
    - var asset = href=url_for(categoryInfo.image)
      img(src=asset)
  if categoryInfo.description
    p
      | #{categoryInfo.description}
  .items
    each post in posts
      .item
        .item-content
          div.meta
            span.date #{date(post.date, "YYYY.MM.DD")}
          div.details
            h4.inline
              a(href=url_for(post.path))= post.title
            if is_tag()
              p.description #{post.summary}
